<ion-card *ngIf="content"  [color]="getColor(content.tileType)" style="margin-bottom: -10px;">
  <ion-card-header>
    <ion-card-title>
      <ion-row>
        <ion-col class="ion-text-start ion-no-padding">{{ getTitle(content.tileType) }}</ion-col>
        <ion-col class="ion-text-end ion-no-padding">{{ content.quantity }}</ion-col>
      </ion-row>
    </ion-card-title>
    <ion-card-subtitle style="opacity: 0.7">{{ getSubTitle(content.tileType) }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="size >= 1"  style="font-size: 13px; opacity: 0.7; margin-top: -10px">
    {{ getDescription(content.tileType) | truncate: 90}}
  </ion-card-content>
</ion-card>
